/* Styles for PDF layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .page {
    width: 8.5in; /* Standard US Letter size */
    height: 11in;
    margin: 0 auto;
    padding: 100px; /* Adjust as needed */
    padding-left: 200px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .heading1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .content {
    display: flex;
    width: 500px;
    padding-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    padding-left: 100px;
  }
  
  .sub-heading {
    font-size: 18px;
    font-weight: bold;
    width: 50%; /* Adjust as needed */
  }
  
  .data {
    margin-left: 1px; /* Pushes data to the right */
    font-size: 16px; /* Adjust as needed */
  }
  .bootoon {
    position: absolute;
    top: 70%; /* Adjust as needed */
    right: 45%; /* Adjust as needed */
    transform: translateY(-50%);
    color: black;
    background-color: aquamarine;
  }