* {
    box-sizing: border-box;
}

/* .container {
    background-color: rgba(219, 208, 208, 0.5);
    
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 5%;
    height: 550px;
}
.container .pdf-template{
   padding: 00px;
} */
.heading {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.content {
    margin-top: 60px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: auto auto; /* Adjust column width as needed */
    gap: 10px;
}

.label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
   
}

p {
    margin: 0;
    font-size: 16px;
    color: #666;
}
.container button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width:20%;
	font-size: 17px;
	padding: 08px;
	margin-left: 40%;
}